<ct-layout>
    <header class="header">
        <p class="title">{{ 'login.loginComponent.pageTitle' | transloco }}</p>
    </header>
    <content>
        <form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="submitForm()">
            <nz-form-item class="login-form-item">
                <nz-form-control [nzErrorTip]="'login.loginComponent.loginError' | transloco">
                    <nz-input-group nzPrefixIcon="user">
                        <input
                            type="text"
                            nz-input
                            formControlName="login"
                            [placeholder]="'login.loginComponent.placeholderLogin' | transloco" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item class="login-form-item">
                <nz-form-control [nzErrorTip]="'login.loginComponent.passwordError' | transloco">
                    <nz-input-group nzPrefixIcon="lock">
                        <input
                            type="password"
                            nz-input
                            formControlName="password"
                            [placeholder]="'login.loginComponent.placeholderPassword' | transloco" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <div nz-row>
                <div nz-col [nzSpan]="24">
                    <label nz-checkbox formControlName="remember">
                        <span>{{ 'login.loginComponent.rememberCheckbox' | transloco }}</span>
                    </label>
                </div>
            </div>
            <button
                nz-button
                class="login-button"
                [nzType]="'primary'"
                [disabled]="loginForm.invalid"
                [nzLoading]="isLoading">
                {{ 'login.loginComponent.enterButtonLabel' | transloco }}
            </button>
        </form>
    </content>
</ct-layout>
