<div>{{ actualDateAndTime | date: 'yyyy-MM-dd HH:mm:ss ' }}</div>
<div *ngIf="!(isOptionalCurrencyNamesSetEmpty$ | async)">
    <select [formControl]="selectedCurrencyNameControl">
        <option
            *ngFor="let currencyName of optionalCurrencyNames$ | async"
            [value]="currencyName"
        >
            {{ currencyName }}
        </option>
    </select>
    <button (click)="addCurrency()">Добавить</button>
</div>

<ul>
    @for (currency of currencyRates$ | async; track $index) {
        <li>
            <p>{{ currency.name }}: {{ currency.rate | number: '1.1-2' }}</p>
            <button (click)="deleteCurrencyRate(currency)">Удалить</button>
        </li>
    }
</ul>
<p *ngIf="isSelectedCurrencyNamesSetEmpty$ | async">Выберите валюту!</p>
