<div>{{ actualDateAndTime | date: 'yyyy-MM-dd HH:mm:ss ' }}</div>
<select [(ngModel)]="selectedCurrencyName">
    <option
        *ngFor="let currencyName of optionalCurrencyNames"
        [value]="currencyName"
    >
        {{ currencyName }}
    </option>
</select>
<button (click)="addCurrency()">Добавить</button>
<p *ngIf="!isCurrencySelected">Сначала нужно выбрать валюту</p>
<ul>
    @for (currency of visibleCurrencies; track $index) {
        <li>
            <p>{{ currency.name }}: {{ currency.rate }}</p>
            <button (click)="deleteCurrencyRate(currency)">Удалить</button>
        </li>
    }
</ul>
<p *ngIf="!visibleCurrencies.length">Выберите валюту!</p>
