<nz-layout class="layout">
    <router-outlet />
    <nz-footer class="footer">
        <div *ngIf="activeLanguage$ | async as activeLang" class="change-language">
            @for (lang of avalibleLangs; track $index) {
                <a
                    [class.active]="activeLang === lang.id"
                    nz-button
                    [nzSize]="'small'"
                    nzType="link"
                    (click)="switchLanguage(lang.id)">
                    {{ lang.label }}
                </a>
            }
        </div>
        <p> Currency Tracker ©2024 {{ 'footer.developerLabel' | transloco }} </p>
    </nz-footer>
</nz-layout>
