@import 'variables';

:host {
    display: contents;
}

.layout {
    height: 100%;

    .footer {
        height: $footerHeigth;
        display: flex;
        flex-direction: column;
        text-align: center;

        .change-language {
            margin-bottom: 0;

            .active {
                color: grey;
            }
        }
    }
}
