:host {
    height: 100%;

    .header {
        .title {
            color: white;
        }
    }
}

.login-form {
    min-width: 300px;

    .login-form-item.ant-form-item-with-help {
        margin-bottom: 16px;
    }

    .login-button {
        margin-top: 10px;
        width: 100%;
    }
}
