<form
    nz-form
    [formGroup]="loginForm"
    class="login-form"
    (ngSubmit)="submitForm()">
    <nz-form-item class="login-form-item">
        <nz-form-control nzErrorTip="Некорректный логин">
            <nz-input-group nzPrefixIcon="user">
                <input
                    type="text"
                    nz-input
                    formControlName="login"
                    placeholder="Логин"
                    class="input" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item class="login-form-item">
        <nz-form-control nzErrorTip="Некорректный пароль">
            <nz-input-group nzPrefixIcon="lock">
                <input
                    type="password"
                    nz-input
                    formControlName="password"
                    placeholder="Пароль"
                    class="input" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <div nz-row>
        <div nz-col [nzSpan]="24">
            <label nz-checkbox formControlName="remember">
                <span>Запомнить меня</span>
            </label>
        </div>
    </div>
    <button
        nz-button
        class="login-button"
        [nzType]="'primary'"
        [disabled]="loginForm.invalid">
        Войти
    </button>
</form>
