@import './../../../../styles/variables.scss';

:host {
    height: calc(100% - $footerHeigth);
}

.inner-layout {
    padding: 24px 24px 0 24px;
    height: calc(100% - $headerHeigth);

    .content {
        padding: 24px;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}
