:host {
    display: contents;

    .content {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .currency-list {
        min-width: 300px;
        margin-bottom: 12px;
        overflow-y: auto;
    }

    .graphic-icon {
        margin-top: 20px;
    }

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .title {
            color: white;
            margin-bottom: 0;
        }
    }
}
