<ct-layout>
    <header class="header">
        <p class="title">{{ 'currencyRate.currencyRateComponent.pageTitle' | transloco }}</p>
        <a nz-button [nzSize]="'small'" nzType="link" (click)="logout()">
            {{ 'currencyRate.currencyRateComponent.logoutLinkLabel' | transloco }}
        </a>
    </header>
    <content class="content">
        <p *ngIf="isSelectedCurrencyNamesSetEmpty$ | async">
            <nz-empty [nzNotFoundContent]="'currencyRate.currencyRateComponent.emptyCurrencyLabel' | transloco">
            </nz-empty>
        </p>

        @if (currencyDescription$ | async; as dataState) {
            @if (dataState.status === 'loading') {
                <nz-spin nzSimple [nzSize]="'large'"></nz-spin> `
            } @else {
                <nz-list class="currency-list">
                    @for (currency of dataState.data; track $index) {
                        <nz-list-item>
                            <nz-list-item-meta
                                nzAvatar="{{ currency.iconUrl }}"
                                nzDescription="{{ currency.countryName }}">
                                <nz-list-item-meta-title>
                                    {{ currency.name }}
                                </nz-list-item-meta-title>
                            </nz-list-item-meta>
                            {{ currency.rate | number: '1.1-2' }}$
                            <ul nz-list-item-actions>
                                <nz-list-item-action>
                                    <a (click)="deleteCurrencyRate(currency)">
                                        {{ 'currencyRate.currencyRateComponent.deleteButtonLabel' | transloco }}
                                    </a>
                                </nz-list-item-action>
                            </ul>
                            <ul>
                                <span
                                    class="graphic-icon"
                                    nz-icon
                                    nzType="dot-chart"
                                    nzTheme="outline"
                                    (click)="redirectToGraphic(currency.rate, currency.name)"></span>
                            </ul>
                        </nz-list-item>
                    }
                </nz-list>
            }
        }
        <div *ngIf="!(isOptionalCurrencyNamesSetEmpty$ | async)">
            <button nz-button nzType="primary" (click)="openCurrencySelectModal()">
                <span>{{ 'currencyRate.currencyRateComponent.addCurrencyButtonLabel' | transloco }}</span>
            </button>
        </div>
    </content>
</ct-layout>
